@model AlunoModel

@{
    ViewData["Title"] = "Remover Aluno";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Remover Aluno</h1>
   
    <div class="card mb-3">
        <div class="card-body">
            Os dados serão perdidos permanentemente após a confirmação. Você tem certeza de que deseja excluir <b>@Model.Nome</b>?
        </div>
    </div>
    <div class="container mb-3">
        <form asp-controller="Aluno" asp-action="RemoverAlunoConfirmacao" method="post">
            <input type="hidden" name="id" value="@Model.AlunoId" />
            <button type="submit" class="btn btn-danger w-100 mb-1">Remover</button>
        </form>
        <a class="btn btn-secondary d-block" asp-controller="Aluno" asp-action="Index" role="button">Cancelar</a>
    </div>
</div>
