@model ProfessorModel

@{
    ViewData["Title"] = "Remover Professor";
}

<div class="container-fluid px-4">
    <ol class="breadcrumb mt-1 bg-transparent">
        <li class="breadcrumb-item">
            <a asp-controller="Professor" asp-action="Index" class="text-decoration-none">Professores</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Remover Professor</li>
    </ol>

    <h1 class="mt-4 mb-4">Remover Professor</h1>

    <div class="card mb-3">
        <div class="card-body">
            Após a confirmação, os dados serão permanentemente excluídos e não poderão ser recuperados.
            Você tem certeza de que deseja remover <b>@Model.Nome</b>?
        </div>
    </div>

    <div class="container mb-3">
        <form asp-controller="Professor" asp-action="RemoverProfessorConfirmacao" method="post">
            <input type="hidden" name="id" asp-for="ProfessorId" />
            <button type="submit" class="btn btn-danger w-100 mb-1">Remover</button>
        </form>
        <a class="btn btn-secondary d-block" asp-controller="Professor" asp-action="Index" role="button">Cancelar</a>
    </div>
</div>
