@model UsuarioModel

<!-- Nav Item - User Information -->
<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-4 d-none d-lg-inline text-gray-600 small">@Model.Nome</span>
        <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
    </a>

    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="userDropdown">
        <a class="dropdown-item" asp-controller="Usuario" asp-action="AtualizarUsuario" asp-route-Id="@Model.UsuarioId">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Editar Dados
        </a>
        <a class="dropdown-item" asp-controller="Usuario" asp-action="AlterarSenha" asp-route-Id="@Model.UsuarioId">
            <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
            Alterar Senha
        </a>
         <a class="dropdown-item" asp-controller="Usuario" asp-action="RemoverUsuario" asp-route-Id="@Model.UsuarioId">
            <i class="fas fa-user-slash fa-sm fa-fw mr-2 text-gray-400"></i>
           Encerrar Conta
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Sair
        </a>
    </div>
</li>