@model AlterarSenhaModel
@{
    ViewData["Title"] = "Alterar Senha";
}

<div class="container-fluid px-4">
    <ol class="breadcrumb mt-1 bg-transparent">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Visão Geral</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Alterar Senha</li>
    </ol>

    <h1 class="mt-4">Alterar Senha</h1>

    <form asp-controller="Usuario" asp-action="AlterarSenha" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label for="SenhaAtual">Senha Atual</label>
            <input class="form-control" type="password" asp-for="SenhaAtual" placeholder="Digite a sua senha atual" />
            <span class="text-danger">@Html.ValidationMessageFor(x => x.SenhaAtual)</span>
        </div>

        <div class="mb-3">
            <label for="NovaSenha">Nova Senha</label>
            <input class="form-control" type="password" asp-for="NovaSenha" placeholder="Digite a nova senha" />
            <span class="text-danger">@Html.ValidationMessageFor(x => x.NovaSenha)</span>
            <small class="form-text text-muted mt-2">
                A senha deve ter pelo menos 8 caracteres, incluindo:
                <ul>
                    <li>1 letra maiúscula</li>
                    <li>1 letra minúscula</li>
                    <li>1 número</li>
                    <li>1 caractere especial (como &commat;, $, !, etc.)</li>
                </ul>
            </small>
        </div>

        <div class="mb-3">
            <label for="ConfirmarNovaSenha">Confirmar Nova Senha</label>
            <input class="form-control" type="password" asp-for="ConfirmarNovaSenha" placeholder="Confirme a nova senha" />
            <span class="text-danger">@Html.ValidationMessageFor(x => x.ConfirmarNovaSenha)</span>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-1">Alterar Senha</button>
        <a class="btn btn-secondary d-block" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
    </form>
</div>
