@using MasterIdiomas.Enums
@model CursoModel
@{
    ViewData["Title"] = "Adicionar Professor - Curso";
    var professores = ViewBag.Professores as List<ProfessorModel>;
}

<div class="container-fluid px-4">
    <ol class="breadcrumb mt-1 bg-transparent">
        <li class="breadcrumb-item">
            <a asp-controller="Curso" asp-action="Index" class="text-decoration-none">Cursos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Adicionar Professor</li>
    </ol>

    <h1 class="mt-2 mb-4">Adicionar Professor - Curso</h1>

    <form asp-controller="Professor" asp-action="AddProfessorAoCurso" method="post">
        <input type="hidden" asp-for="CursoId" />

        <div class="mb-4">
            <label for="ProfessorId" class="form-label">Selecione um professor ao curso:</label>
            <select class="form-control" asp-for="ProfessorId" required>
                <option value="" selected>Selecione</option>
                @if (professores?.Any() == true)
                {
                    foreach (var professor in professores)
                    {
                        <option value="@professor.ProfessorId">@professor.Nome</option>
                    }
                }
                else
                {
                    <option value="">Nenhum professor encontrado</option>
                }
            </select>
            <span class="text-danger">@Html.ValidationMessageFor(x => x.ProfessorId)</span>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-1">Adicionar Professor ao Curso</button>
        <a class="btn btn-secondary d-block" asp-action="Index" asp-controller="Curso" role="button">Voltar</a>
    </form>
</div>
